@import url(https://fonts.google.com/specimen/Prompt);
@import url(https://fonts.adobe.com/fonts/joly-headline);
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   index.html   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
body {
    background-color: #FEF7D4;
    margin: -10px;
}

/*--------------- Header ----------------*/

header {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background-color: white;
    height: 120px;
}

header h1 {
    font-family: "DM Serif Text", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    padding: 20px;
    padding-left: 30px;
}

#redball {
    width: 30px;
}

#yellowball {
    width: 40px;
}

#blueball {
    width: 20px;
}

.subhead {
    float: right;
    padding: 20px;
    padding-top: 0px;
    margin-top: -70px;
}

/*--------------- Body 1 ----------------*/

nav {
    box-sizing: border-box;
    height: 400px;
    width: 100%;
    background-color: #975F46;
    margin-top: -45px;
}

#Me {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 350px;
    margin-bottom: 30px;
    width: 300px;
    float: left;
    box-shadow: 5px -1px 10px 7px rgba(0, 0, 0, 0.27);
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3;
    transition-timing-function: ease;
}

#Me:hover {
    transform: scale(1.2);
}

.name {
    font-family: "DM Serif Text", serif;
    color: white;
    font-weight: 300;
    font-size: 55px;
    padding: 80px;
    margin-right: 260px;
    text-align: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2;
    transition-timing-function: ease;
}

.name:hover {
    transform: scale(1.2);
}

.about {
    font-family: "DM Serif Text", serif;
    color: beige;
    font-weight: 400;
    font-size: 25px;
    margin-top: -220px;
    padding: 100px;
    margin-left: -100px;
    text-decoration: underline;
}

nav p {
    font-family: kanit;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: -100px;
}

.button {
    color: rgb(5, 5, 5);
    background-color: rgb(255, 242, 242);
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
}

/*--------------- Body 2 ----------------*/

.edu {
    color: #583220;
    font-size: 50px;
    font-weight: 300;
    font-family: "DM Serif Text", serif;
    padding: 30px;
    padding-left: 100px;
    text-align: left;
    clear: both;
}

.subedu {
    margin-top: -160px;
    padding-left: 150px;
    font-size: 18px;
    font-family: kanit;
}

.contact {
    color: #583220;
    font-size: 50px;
    font-weight: 300;
    font-family: "DM Serif Text", serif;
    margin-top: -280px;
    margin-left: 1100px;
}

.subcon {
    margin-top: -30px;
    padding-left: 1100px;
    font-size: 18px;
    font-family: kanit;
}

#logotu {
    width: 400px;
    margin-left: 560px;
    margin-top: -350px;
    text-align: center;
}

#logocs {
    width: 180px;
    margin-left: 700px;
    margin-top: 25px;
    text-align: center;
}

/*--------------- Body 3 ----------------*/

.hobby {
    font-family: "DM Serif Text", serif;
    color: #583220;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
    clear: both;
}

.text1:hover {
    color: #26ae5a;
}

.text2:hover {
    color: #e2a964;
}

.text3:hover {
    color: #6faed3;
}

#music {
    width: 70%;
    text-align: center;
    box-shadow: 4px 3px 4px 7px rgba(0, 0, 0, 0.19);
}

#book {
    width: 60%;
    text-align: center;
    box-shadow: 4px 3px 4px 7px rgba(0, 0, 0, 0.19);
}

#gui {
    width: 75%;
    text-align: center;
    box-shadow: 4px 3px 4px 7px rgba(0, 0, 0, 0.19);
}

/*--------------- Video ----------------*/

.box {
    box-sizing: border-box;
    width: 100%;
    margin-top: 200px;
    background-color: #975F46;
    height: 600px;
}

.myvdo {
    font-family: "DM Serif Text", serif;
    color: white;
    font-weight: 300;
    font-size: 50px;
    padding: 40px;
    text-align: center;
    margin-bottom: -40px;
}

.line {
    background-color: #e0dbd8;
    height: 2px;
    margin-top: -40px;
    margin: 30px;
    text-align: center;
}

/*--------------- Thanks ----------------*/

.thanks:hover {
    color: #f078a4;
}

h1 {
    font-family: "DM Serif Text", serif;
    color: #583220;
    font-weight: 300;
    font-size: 70px;
    padding-top: 200px;
    text-align: center;
}

.c {
    font-family: "DM Serif Text", serif;
    color: black;
    font-weight: 200;
    text-align: center;
    padding: 30px;
}

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin-top: 300px;
    height: 100px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   myjourney.html   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/*--------------- Header ----------------*/